 
<div class="row mt-5">
    <h2>Counter</h2>
    <hr>
</div>

<div class="row mt-2">
    <div class="col">

        <h1>{{value}}</h1>

        <div class="row">
            <h5>Setup</h5>
            <div class="div mb-2">

                <button pButton class="p-button-outlined p-button-success" type="button" (click)="start()">Start</button>
                <button pButton class="p-button-outlined p-button-warning mx-2" type="button"  (click)="pause()">Pause</button>
                <button pButton class="p-button-outlined p-button-danger" type="button"  (click)="reset()">Reset</button>

            </div>
        </div>

        <div class="row">
            <h5>Count</h5>
            <div class="div mb-2">

                <button pButton class="p-button-outlined p-button-success" type="button"  (click)="changeUp(true)">Count up</button>
                <button pButton class="p-button-outlined p-button-danger mx-2" type="button"  (click)="changeUp(false)">Count down</button>

            </div>
        </div>
        
        <div class="row">
            <h5>Set to</h5>
            <div class="div mb-2">

            <p-inputNumber type="number"    [(ngModel)]="set" [showButtons]="true" buttonLayout="horizontal" spinnerMode="vertical" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"  > </p-inputNumber>

            </div>
        </div>

        <div class="row">
            <h5>Step</h5>
            <div class="div">
                <p-inputNumber type="number"   [(ngModel)]="step" [showButtons]="true" buttonLayout="horizontal" spinnerMode="vertical" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" ></p-inputNumber>
             

            </div>
        </div>
    </div>

    
</div>